@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif;

    --color-primary: rgb(37 99 235);
    --color-secondary: rgb(100 116 139);
    --color-background: rgb(248 250 252);
    --color-card: rgb(255 255 255);
};